* {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
  }
  
  html, body {
    
    background: white;
    margin: 20px;
    color: #3e4144;
    -webkit-font-smoothing: antialiased;
  }
  
  
  dd {
    font-weight: bold;
  }
  
  button {
    background-color: black;
    border-radius: 5px;
    border: 0px;
    color: white;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 10px;
  }
  
  button:hover {
    background-color: #3e4144;
  }
  
  button:focus{ 
    outline: none;
  }
  
  .p-1 {
    padding: 1px;
  }

  .conteiner-small{
    max-width: 700px;
    margin: 0 auto;
  }

  /* ========================== */

  .row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .row .col form{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 20px;
  }
  form input{
    width: 100%;
    padding: 10px 5px;
    outline: none;
    border: solid 1px #CECECE;
  }